<!doctype html>
<html>
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">

    <title>Untappd Style Guide</title>

    <script src="//use.typekit.net/mgy7cuo.js"></script>
    <script>
     try{Typekit.load();}catch(e){}
    </script>

    <link href='https://fonts.googleapis.com/css?family=Source+Code+Pro:500' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag :application %>

    <style>
      <%= Rouge::Themes::Github.render(scope: '.highlight') %>
      #grid-docs .row {
        background: #f9f9f9;
        border: 1px solid #c6c6c6;
        line-height: 2rem;
        font-size: 11px;
        margin-bottom: 1.5rem;
        margin-left: 0;
        margin-right: 0;
      }

      #grid-docs .columns:nth-child(even) {
        background: #ddd;
      }

      #grid-docs .columns:nth-child(odd) {
        background: #eee;
      }

      code, kbd, pre, samp {
        font-family: 'Source Code Pro', monospace;
        font-size: 1.1em;
      }

      h4 {
        font-style: italic;
      }
    </style>

    <link href="//cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
    <script src="https://cdn.jsdelivr.net/foundation/6.2.1/foundation.min.js"></script>
    <%= javascript_include_tag :all %>
  </head>

  <body>

    <%= partial '_header' %>
    <div class="row">
      <div class="large-3 columns">
        <%= partial '_sidebar' %>
      </div>
      <div class="large-9 columns" id="docs">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
