<!doctype html>
<html>
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">

    <title>Untappd Style Guide</title>

    <%= partial 'layouts/_typekit' %>
    <%= partial 'layouts/_head' %>
  </head>

  <body>

    <%= partial '_header' %>
    <div class="row">
      <div class="large-3 columns">
        <%= partial '_sidebar' %>
      </div>
      <div class="large-9 columns" id="docs">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
